.userList {
  cursor: pointer;
  font-size: 26px;
  color: black;
}

.friendList {
  cursor: pointer;
  font-size: 22px;
  color: blue;
}

.fofList {
  cursor: pointer;
  font-size: 22px;
  color: blueviolet;
}

button {
  margin: 8px;
}